@import url("indexCss.css");

body{
    background-image: linear-gradient(to right,#7a84bd, #7abd92);
}

.userLogo{
    color: white;
}

.myCol {
    margin-top: 10%;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    font-family: merienda;
    text-decoration-color: white;
    color: white;
  }

@media only screen and (max-width: 768px) {

    .userLogo{
        font-size: 100px;
    }
  }