<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="/CSS/editProfileCss.css">

    <title>Change password</title>

</head>

<body>

    <div class="container">
        <div class="row">
            <div class="offset-5">
                <h5 class="animated zoomIn"><i class="material-icons userLogo" translate="no">account_circle</i></h5>
            </div>
        </div>
        <form id="changePswForm" action="/Password-has-been-changed"
            class="col-lg-12 offset-4 animated bounceInRight myCol" method="POST">
            <h5>
                <label for="password">Password:</label><br>
                <input type="text" id="password" name="password" required><br><br>
                <label for="confirmPassword">Confirm password:</label><br>
                <input type="text" id="passwordConfirm" name="passwordConfirm" required><br><br>
                <input type="submit" onclick="submit()" value="Submit">
            </h5>
        </form>
    </div>

    <script src="/JS/languageChange.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.10.1/qs.min.js"
        integrity="sha512-aTKlYRb1QfU1jlF3k+aS4AqTpnTXci4R79mkdie/bp6Xm51O5O3ESAYhvg6zoicj/PD6VYY0XrYwsWLcvGiKZQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer">
        </script>

    <script src="/JS/changePassword.js"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js">
    </script>
</body>

</html>