<!DOCTYPE html>
<html>

<head>
    <title>Quizzard</title>
    <link rel="stylesheet" href="/CSS/EnterNick.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&display=swap" rel="stylesheet">
    <script type="text/javascript">
        window.history.forward();
        function noBack() {
            window.history.forward();
        }

    </script>
</head>

<body onLoad="noBack();" onpageshow="if (event.persisted) noBack();" onUnload="">

    <div class="logo-container">
        <img class="logo-image" src="/IMAGES/final logo.png" alt="Quizzard Logo">
    </div>

    <h1 id="title">Join a Game</h1>
    <form action="/game/quiz" method="POST">
        <div class="form-field">
            <label id="label">Nickname</label>
            <input id="name" type="text" required name="nickname" autofocus />
        </div>
        <br>
        <div class="form-field">
            <label id="label">Game key</label>
            <input id="pin" required name="key" />
        </div>
        <br>
        <div class="form-field">
            <button id="joinButton">Join</button>
        </div>
    </form>
    {{#if message }}
    <h4 class="alert alert-danger mt-4 myAlert">{{message}}</h4>
    {{/if}}

    <script src="/JS/languageChange.js"></script>
    <script type="text/javascript"
        src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
</body>

</html>