<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>How to</title>
    <link rel="stylesheet" href="/CSS/howTo.css">
</head>

<body>
    <section>
        <video src="/VIDEOS/libraryVideo.mp4" autoplay muted loop id="library"></video>
        <h2 id="indicatorDown"></h2>
    </section>
    <section>
        <h2>Welcome to the wizarding classroom</h2>
        <div class="content">
            <button class="accordion">How to create an account</button>
            <div class="panel">
                <p>Register now > Fill required info > Create account</p>
                <video src="/VIDEOS/01CreateAnAccount.mp4" controls></video>
            </div>

            <button class="accordion">How to create a quiz</button>
            <div class="panel">
                <p>My Profile > Create a new quiz > Fill required info > Create quiz</p>
                <video src="/VIDEOS/02CreateAQuiz.mp4" controls></video>
            </div>

            <button class="accordion">How to update a quiz</button>
            <div class="panel">
                <p>My Profile > My quizes > Update</p>
                <video src="/VIDEOS/03UpdateQuiz.mp4" controls></video>
            </div>

            <button class="accordion">How to change the language of the application</button>
            <div class="panel">
                <p>Select language > Choose desired language</p>
                <video src="/VIDEOS/04ChangeLanguage.mp4" controls></video>
            </div>

            <button class="accordion">How to play a quiz</button>
            <div class="panel">
                <p>Play > Fill required info > > Join</p>
                <video src="/VIDEOS/05PlayQuiz.mp4" controls></video>
            </div>

            <button class="accordion">How to edit your profile</button>
            <div class="panel">
                <p>My Profile > Edit profile > Fill required info > Submit</p>
                <video src="/VIDEOS/06EditProfile.mp4" controls></video>
            </div>
        </div>
    </section>
</body>
<script src="/JS/parallax.js"></script>
<script src="/JS/languageChange.js"></script>
<script type="text/javascript"
    src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

</html>