<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>How to</title>
    <link rel="stylesheet" href="/CSS/howTo.css">
</head>
<body>
    <section>
        <video src="/VIDEO/libraryVideo.mp4" autoplay muted loop id="library"></video>
        <h2 id="indicatorDown"></h2>
    </section>
    <section>
        <h2>Welcome to the wizarding classroom</h2>
        <div class="content">
            <button class="accordion">How to start a quiz</button>
            <div class="panel">
                <p>Lorem ipsum...</p>
                <video src="/VIDEO/How to begin playing a quiz.mp4" controls></video>
            </div>
    
            <button class="accordion">How to create an account</button>
            <div class="panel">
                <p>Lorem ipsum...</p>
                <video src="/VIDEO/Registration.mp4" controls></video>
            </div>
    
            <button class="accordion">How to update a quiz</button>
            <div class="panel">
                <p>Lorem ipsum...</p>
                
            </div>

            <button class="accordion">How to change the language of the application</button>
            <div class="panel">
                <p>Lorem ipsum...</p>
            </div>

            <button class="accordion">How to play a quiz</button>
            <div class="panel">
                <p>Lorem ipsum...</p>
            </div>

            <button class="accordion">How to see the rezults of a played quiz</button>
            <div class="panel">
                <p>Lorem ipsum...</p>
            </div>

            <button class="accordion">How to edit your profile</button>
            <div class="panel">
                <p>Lorem ipsum...</p>
                <video src="/VIDEO/editProfile.mp4" controls></video>
            </div>
        </div>
    </section>
</body>
<script src="/JS/parallax.js"></script>
<script src="/JS/languageChange.js"></script>
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
</html>