<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Joining Screen</title>
    <link rel="stylesheet" href="/CSS/joiningScreenCss.css">
    {{!--
    <script type="text/javascript">
        window.history.forward();
        function noBack() {
            window.history.forward();
        }

    </script> --}}
</head>

<body>
    <div class="container">
        <div>
            {{#if game }}
            <h1 class="alert alert-danger mt-4" id="gameKey">{{game.GameKey}}</h1>
            {{/if}}
            <h3>Waiting for players to join<span>.</span></h3>
        </div>
        <div class="myTable" translate="no">
            <table>
                {{#each players }}
                <tr>
                    <td>
                        {{this.Nickname}}
                    </td>
                </tr>
                {{/each}}
            </table>
        </div>
        <div class="btns">
            <button onclick='cancelQuiz()' type="button">Cancle quiz</button>
            <button onclick='refreshList()' type="button">Refresh player list</button>
            <button onclick="beginQuiz()" type="button">Begin quiz</button>
        </div>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/JS/joiningScreen.js"></script>

    <script src="/JS/languageChange.js"></script>
    <script type="text/javascript"
        src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
</body>

</html>