<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/quiz.css">
    <script defer src="/JS/quiz.js"></script>
    <title>Quizzard</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>

    <div class="logo-container">
        <img class="logo-image" src="/IMAGES/final logo.png" alt="Quizzard Logo">
    </div>

    <div class="timer">
        <p class="time merienda-font ">15</p>
    </div>

    <div class="container">
        <div class="container-loading hide">
            <!-- set hide kad igra pocinje -->
            <div class="loading ">
                <div class="loading__letter">W</div>
                <div class="loading__letter">a</div>
                <div class="loading__letter">i</div>
                <div class="loading__letter">t</div>
                <div class="loading__letter">i</div>
                <div class="loading__letter">n</div>
                <div class="loading__letter">g</div>
                <div class="loading__letter">&nbsp;</div>
                <div class="loading__letter">f</div>
                <div class="loading__letter">o</div>
                <div class="loading__letter">r</div>
                <div class="loading__letter">&nbsp;</div>
                <div class="loading__letter">e</div>
                <div class="loading__letter">v</div>
                <div class="loading__letter">e</div>
                <div class="loading__letter">r</div>
                <div class="loading__letter">y</div>
                <div class="loading__letter">o</div>
                <div class="loading__letter">n</div>
                <div class="loading__letter">e</div>
            </div>
            <div class="loader"></div>
        </div>

        <div class="question-container ">
            <!--makni hide kad igra pocinje-->

            <form action="/game/ScoreBoard">

                <div id="answer-buttons" class="btn-grid">
                    <button class="btn" id="btn1" value="A"><img src="/IMAGES/romb.png" alt="#"></button>
                    <button class="btn" id="btn2" value="B"><img src="/IMAGES/triangle.png" alt="#"></button>
                    <button class="btn" id="btn3" value="C"><img src="/IMAGES/cube.png" alt="#"></button>
                    <button class="btn" id="btn4" value="D"><img src="/IMAGES/circle.png" alt="#"></button>
                </div>
            </form>
        </div>

    </div>
</body>

</html>