* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    height: 100vh;
    /* overflow-y:hidden; */
  }
  h1 {
    position: fixed;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    backdrop-filter: blur( 12.5px );
    -webkit-backdrop-filter: blur( 12.5px );
    padding: 20px;
  }

  textarea:focus,
  input {
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    margin: 2%;
  }
  input:focus {
    outline: none;
  }
  .title {
    width: 100%;
    text-align: center;
    margin-top: 5%;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
    font-family: merienda;
  }
  .myField {
    margin-top: 180px;
    width: 100%;
    text-align: center;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
    position: fixed;
    z-index: 2;
    backdrop-filter: blur( 12.5px );
    -webkit-backdrop-filter: blur( 12.5px );

  }
.dragContent {
cursor: move;

}
#allQuestions {
    position: absolute;
    top: 350px;
    width: 80%;
}

/* #myDragField {
 z-index: 3 !important;
} */



  #quizID {
    margin-left: 3%;
  }

  /* -----------------------------QUESTION CARDS-------------------------------- */
  #allQuestions {
    margin-left: 10%;
    margin-right: 10%;
  }
  .question-field {
    padding: 5%;
    height: fit-content;
    margin-bottom: 5%;
    cursor: move;
    backdrop-filter: blur( 4.0px );
    -webkit-backdrop-filter: blur( 4.0px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
  }
  .question-field.dragging {
    opacity: 0.5;
  }
  #chooseDiv {
    width: 100%;
    margin-bottom: 2%;
    margin-top: 2%;
  }
  .cardFooter {
    width: 100%;
    height: 10%;
    margin-top: 5%;
  }

  /* -----------------------------QUESTIONS & ANSWERS-------------------------------- */

  .answerNumberLabel {
    font-size: 20px;
    letter-spacing: 0.3rem;
  }
  #chooseDiv button {
    margin-left: 15%;
    padding: 0% 2%;
    border: none;
    font-size: 200%;
    background-color: rgba(255, 255, 255, 0.541);
    transition: all 0.7s ease;
  }
  #chooseDiv button {
    box-shadow: 5px 10px #888888;
    border-radius: 50%;
    transform: scale(1.2);
  }

  .question {
    width: 100%;
    resize: none;
    font-family: merienda;
    font-size: 30px;
    background-color: rgba(255, 255, 255, 0.466);
    border: none;
    outline: none;
    }
  .answer-field {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20%;
    height: 40%;
  }
  .answers {
    border-radius: 40px 20px;
    border: none;
    resize: none;
    color: whitesmoke;
    padding: 5%;
  }

  /* -----------------------------BUTTONS-------------------------------- */
  .deleteButton,
  #generateBtn,
  #lblTimer,
  .answerNumberLabel {
    margin-bottom: 2%;
    letter-spacing: 0.3rem;
    transition: all 0.6s ease;
    text-transform: uppercase;
  }
  .deleteButton
  {
background: rgba( 255, 255, 255, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 9.5px );
-webkit-backdrop-filter: blur( 9.5px );
border: 1px solid rgba( 255, 255, 255, 0.18 );  }
  .deleteButton:hover,
  #generateBtn:hover {
    transform: scale(0.9);
  }
  .btns {
    padding: 2% 2%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5%;
    bottom: 0;
    position: sticky;

  }
  .btns button,
  .button {
    letter-spacing: 0.5rem;
    text-transform: uppercase;
    cursor: pointer;
    border: transparent;
    background-color: transparent;
    outline: none;
    transition: all 0.5s ease-in-out;
    padding: 2%;
  }
  .button {
    background: transparent;
    border: transparent;
    box-shadow: none;
  }
  .btns button:hover,
  .button:hover {
    border: 1px solid black;
  }



  @media only screen and (max-width: 768px) {
    .btns,
    #answer-field {
      grid-template-columns: 1fr;
    }
    #answer-field {
      margin-top: 10%;
    }
    .deleteButton {
      letter-spacing: 0.1rem;
    }
    #question-field {
      min-height: 150vh;
    }
    .cardFooter {
      margin-top: 85%;
    }
  }


  #btn0{
    background-color:rgba( 218, 90, 251, 0.50 )
  
  }
  #btn0:hover{
    background-color:rgba(185, 76, 212, 0.5)
  }

#btn1{
  background-color:rgba( 118, 213, 152, 0.50 )

}
#btn1:hover{
background-color:rgba(93, 172, 120, 0.5)}


#btn2{
  background-color:rgba( 213, 203, 118, 0.50 )
}
#btn2:hover{
  background-color:rgba(175, 167, 95, 0.5)
}

#btn3{
  background-color:rgba( 90, 125, 251, 0.50 )
}
#btn3:hover{
  background-color:rgba(77, 104, 204, 0.5)
}

  /* -----------------------------LANGUAGE--------------------------------- */
  .goog-logo-link{
    display: none !important;
  }
  .goog-te-gadget{
    color: transparent !important;
  }
  .goog-te-banner-frame.skiptranslate{
    display: none !important;
  }