
@keyframes bgcolor {
    0% {
        background-color: #4558c0
    }

    30% {
        background-color: #45c070
    }

    60% {
        background-color: #c0ad45
    }

    90% {
        background-color: #c04595
    }

    100% {
        background-color: #864cbf
    }
}

body {
    margin-top: 70px;
    -webkit-animation: bgcolor 20s infinite;
    animation: bgcolor 10s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}
#title {
    font-family: 'Merienda', cursive;;
    text-align: center;
    font-size: 50px;
    color: white;
}
#nickname {
    width: 50%;
    padding: 12px 0px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-right: auto;
    margin-left: auto;
    font-size: 20px;
    text-align: center;
}
#key {
    width: 50%;
    padding: 12px 0px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-right: auto;
    margin-left: auto;
    font-size: 20px;
    text-align: center;
}
#label {
    display: block;
    text-align: center;
    font-size: 25px;
    font-family: 'Merienda', cursive;
    color: white;
}
#host {
    color: white;
    text-decoration: none;
}
#host:hover{
    text-decoration:underline;
}
#joinButton{
    width: 50%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    margin-right: auto;
    margin-left: auto;
    font-size: 20px;
    background-color: purple;
    font-family: 'Merienda', cursive;
}

.logo-image{
    width: 230px;
    position: absolute;
    top: 30px;
    left: 30px;
}

/* -----------------------------LANGUAGE--------------------------------- */
.goog-logo-link{
    display: none !important;
  }
  .goog-te-gadget{
    color: transparent !important;
  }
  .goog-te-banner-frame.skiptranslate{
    display: none !important;
  }