@keyframes bgcolor {
    0% {
        background-color: #4558c0
    }

    30% {
        background-color: #45c070
    }

    60% {
        background-color: #c0ad45
    }

    90% {
        background-color: #c04595
    }

    100% {
        background-color: #864cbf
    }
}

body {
    margin-top: 70px;
    -webkit-animation: bgcolor 20s infinite;
    animation: bgcolor 10s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    text-align: center;
}
input{
    background: rgba( 255, 255, 255, 0.10 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}
#title{
    font-family: 'Merienda', cursive;;
    text-align: center;
    font-size: 50px;
    color: white;
}
#name{
    width: 50%;
    padding: 12px 0px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-right: auto;
    margin-left: auto;
    font-size: 20px;
    text-align: center;
}
#pin{
    width: 50%;
    padding: 12px 0px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-right: auto;
    margin-left: auto;
    font-size: 20px;
    text-align: center;
}
#label{
    display: block;
    text-align: center;
    font-size: 25px;
    font-family: 'Merienda', cursive;
    color: white;
}
#host{
    color: white;
    text-decoration: none;
}
#host:hover{
    text-decoration:underline;
}
#joinButton{
    width: 50%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    margin-right: auto;
    margin-left: auto;
    font-size: 20px;
    background-color: purple;
    font-family: 'Merienda', cursive;
    border: 5px groove purple;
    border-radius: 40px 40px 40px 40px;
    transition:  all 0.3 ease-in-out;
}

#joinButton:hover{
    border: ridge rgb(218, 166, 218) 10px;
}

.logo-image{
    width: 230px;
    position: absolute;
    top: 30px;
    left: 30px;
}

.myAlert{
    font-size: 5rem;
    color: white;
    text-decoration: underline overline;
}


@media (max-width: 820px) {
    #title{
        margin-top: 30vh;
    }
    .logo-image{
        left: 40px;
    }
  }

@media(max-width: 300px){
    .logo-image{
        width: 200px;
        left: 20px;
    }
}