
body {
    animation-name: backgroundColorPalette;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }

.container{
    margin:10%;
}

.question:hover{
    background-color: transparent;
    outline: none;
}

.question-container{    
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5%;
}

.question-container button{
    background-color: transparent;
    width: 100%;
    height: 200px;
}

.answer-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.answer-container button{
    height: 100px;
    margin: 5%;
    display: flex;
    border-radius: 40px 20px;
    align-items: center;
}

.answer-container button p{
    margin-left: 5%;
}

.answer-container button i{
    font-size: 40px;
}

.timer {
    text-align: right;
    font-size: 50px;
}

.answer01{
    background-color: #C04595;
}

.answer02{
    background-color: #45C070;
}

.answer03{
    background-color: #C0AD45;
}

.answer04{
    background-color: #4558C0;
}


.answer-container button{
    transition: all 150ms ease-in-out;
}
.answer01:hover{
    border-color: #C04595;
    color: #fff;
    box-shadow: 0 0 10px 0 #C04595 inset,0 0 10px 4px #C04595;
}

.answer02:hover{
    background-color: #45C070;
    border-color: #45C070;
    color: #fff;
    box-shadow: 0 0 10px 0 #45C070 inset,0 0 10px 4px #45C070;
}

.answer03:hover{
    background-color: #C0AD45;
    border-color: #C0AD45;
    color: #fff;
    box-shadow: 0 0 10px 0 #C0AD45 inset,0 0 10px 4px #C0AD45;
}

.answer04:hover{
    background-color: #4558C0;
    border-color: #4558C0;
    color: #fff;
    box-shadow: 0 0 10px 0 #4558C0 inset,0 0 10px 4px #4558C0;
}

@keyframes backgroundColorPalette {
    0% {
      background: #ebceed;
    }
    25% {
      background: #d3f1d2;
    }
    50% {
      background: #feecd6;
    }
    75% {
      background: #c1e1e2;
    }
    100% {
      background: #e2b4b5;
    }
  }

@media only screen and (max-width:768px) {
    .answer-container{
        grid-template-columns: 1fr;
    }
}