body{
    padding: 0;
    margin: 0;
}

.logo-image{
    width: 230px;
    position: absolute;
    top: 30px;
    left: 30px;
}

.tocno{
    background-color: #45c070;
}

.krivo{
    background-color: #FF6347;
}

#title{
    font-family: 'Merienda', cursive;
    text-align: center;
    font-size: 80px;
    color: white;
}
  
.picture{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20vh;
  margin-bottom: 15vh;
  width: 300px; 
  animation:img-load 1.5s ease-out; 
}

.poruka{
  width: 60%;
  margin: auto;
  margin-top: -5vh;
  transform: scale(0%);
  text-align: center;
  
  font-family: 'Merienda', cursive;
  color: white;
  

  animation: points-load forwards 1s ease-out;
  animation-delay: 1.5s;
}

.container{
    margin-top: -2%;
}



.my-button{
    background-color: white;
    width: 120px;
    height: 60px;
    box-shadow: 0 0 10px 0.5px black;
    border-radius: 5px;
  
    font-family: 'Merienda', cursive;
    font-size: larger;
    font-weight: bold;
  }
  
  .my-button:hover{
    transform: scale(1.15);
    background-color: #bd7aa5;
    transition: all 0.5s;
    cursor: pointer;
  }
  
  .quit-button{
    position: absolute;
    left: 50px;
    bottom: 40px;
    
  }
  
  .reload-button{
    position: absolute;
    right: 50px;
    bottom: 40px;
  }

@keyframes img-load{

    0%{
        transform: scale(0%);
    }
  
    100%{
      transform: scale(100%);
    }
  
  }

 @keyframes points-load{
     0%{
         transform: translateX(-140%);
     }
     80%{
         transform: translateX(10%);
     }
     100%{
        transform: translateX(0%);
     }
 }

 @media(max-width: 900px){
    .quit-button{
        position: absolute;
        bottom: -180px;
        left: 25px;
        margin-bottom: 10px;
        padding-bottom: 20px;
    }
    .reload-button{
        position: absolute;
        bottom: -180px;
        right: 25px;
        margin-bottom: 10px;
        padding-bottom: 20px;
    }
 }

 @media(max-width: 650px){
    .picture{
        margin-top: 30vh;
        margin-bottom: 12vh;
        width: 220px;
        height: 200px;
    }
 }

 @media(max-width:380px){
        .quit-button{
            position: absolute;
            bottom: -300px;
            left: 25px;
            margin-bottom: 10px;
            padding-bottom: 20px;
        }
        .reload-button{
            position: absolute;
            bottom: -300px;
            right: 25px;
            margin-bottom: 10px;
            padding-bottom: 20px;
        }
        .my-button{
            width: 100px;
        }
 }

 





